
@{
    ViewBag.Title = "Beer Pairings";
    Layout = "~/Views/Shared/_MyLayoutPage.cshtml";
}


<section class="features15 cid-sCPLoU4oCd" id="features16-r">
    <div class="container">
        <div class="content-wrapper">
            <div class="row align-items-center">
                <div class="col-12 col-lg">
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style display-5">
                            <strong>Cheese, Sandwiches, Pizza</strong>
                        </h6>
                        <p class="mbr-text mbr-fonts-style mb-4 display-4">
                            Wine and cheese is a universally-known pair, but what most people may not know is that beer is one of the best matches for cheese. Wine may cover up some of the flavors in cheese while the carbonation in beer creates a lighter acidity and lifts the fats in the cheese off the palate.
                            <br />
                            <br />
                            <b>Recommended:</b> All beer is fine. (Note: for stronger cheeses like goat and blue, grab a darker lager or ale.)
                        </p>

                    </div>
                </div>
                <div class="col-12 col-lg">
                    <div class="image-wrapper">
                        <img src="http://fridayweekly.com.np/uploads/post/71c8ad799194e0f95d3452ae27a5e711e0ebd6d8.jpg" alt="Cheese, Sandwiches, Pizza">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="features16 cid-sCPLpBPUXh" id="features17-s">
    <div class="container">
        <div class="content-wrapper">
            <div class="row align-items-center">
                <div class="col-12 col-lg">
                    <div class="image-wrapper">
                        <img src="http://fridayweekly.com.np/uploads/post/71c8ad799194e0f95d3452ae27a5e711e0ebd6d8.jpg" alt="Chicken, Seafood, Pasta">
                    </div>
                </div>
                <div class="col-12 col-lg">
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style display-5">
                            <strong>
                                Chicken, Seafood, Pasta
                            </strong>
                        </h6>
                        <p class="mbr-text mbr-fonts-style mb-4 display-4">
                            The one rule with dishes like chicken, fish, salads or pastas are that you don’t want to overpower them with a beer. Therefore, lighter is better. A light German lager or Belgian Saison with chicken or fish is perfect. (If creams or sauces are added you need a heavy, richer beer.) Pasta is slightly more versatile but still pairs well with similar brews like blonde ales and German or American wheat ales.
                            <br />
                            <br />
                            <b>Recommended:</b> Belgian Blonde ale; German Hefeweizen; American Hefeweizen or wheat beer (as long as it is not too hoppy). Try Duvel (Belgium), Widmer Hefeweizen (US), Blue Moon (US)
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="features15 cid-sCPLoU4oCd" id="features16-r">
    <div class="container">
        <div class="content-wrapper">
            <div class="row align-items-center">
                <div class="col-12 col-lg">
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style display-5">
                            <strong>
                                Fried Foods
                            </strong>
                        </h6>
                        <p class="mbr-text mbr-fonts-style mb-4 display-4">
                            In general, fried foods are light in flavor profile, so opt for a brew that will help cleanse the palate. In general ask for a beer to cleanse your palate without washing away all the salty flavors, cutting through and bringing out the taste of the food. The same recommendation goes for most salty dishes as well.
                            <br />
                            <br />
                            <b>Recommended:</b> Light German Lager, Marzen-style (more malt); Octoberfest brews; Belgian Blonde ale or lager. Try Samuel Adams Octoberfest (US), Stella Artois (Belgium), Leffe Blond (Belgium)
                        </p>

                    </div>
                </div>
                <div class="col-12 col-lg">
                    <div class="image-wrapper">
                        <img src="http://fridayweekly.com.np/uploads/post/71c8ad799194e0f95d3452ae27a5e711e0ebd6d8.jpg" alt="Fried Foods">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="features16 cid-sCPLpBPUXh" id="features17-s">
    <div class="container">
        <div class="content-wrapper">
            <div class="row align-items-center">
                <div class="col-12 col-lg">
                    <div class="image-wrapper">
                        <img src="http://fridayweekly.com.np/uploads/post/71c8ad799194e0f95d3452ae27a5e711e0ebd6d8.jpg" alt="Burgers, Steaks and Roasted Meats">
                    </div>
                </div>
                <div class="col-12 col-lg">
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style display-5">
                            <strong>
                                Burgers, Steaks and Roasted Meats
                            </strong>
                        </h6>
                        <p class="mbr-text mbr-fonts-style mb-4 display-4">
                            Steak and Cabernet are classic, but darker, heartier beers like brown ales or stouts can balance the bigger meats. It’s all about finding a beer that is equal to the meat. The idea is to balance the sweet malt and bitter aromatic hops. Any big robust beef or meaty food should include a beer that is big and bold enough to stand up to roasted meat like a darker, fuller porter or stout.
                            <br />
                            <br />
                            <b>Recommended:</b> Belgian-style lagers; pale or amber ales with deeper, roasted flavors; more toffee-like brown ales and stouts; darker, spicier lagers like German Dunkels and Belgium Dubbels. Try Newcastle Brown Ale (UK), Guinness (Ireland), Maredsous 8 (Belgium)
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="features15 cid-sCPLoU4oCd" id="features16-r">
    <div class="container">
        <div class="content-wrapper">
            <div class="row align-items-center">
                <div class="col-12 col-lg">
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style display-5">
                            <strong>
                                Spicy
                            </strong>
                        </h6>
                        <p class="mbr-text mbr-fonts-style mb-4 display-4">
                            Buffalo wings, spicy Thai, Szechuan Chicken and Mexican dishes all go well with light lagers—basically anything with more hops, which help cut down the spices in the food. Little goes better with spicier dishes than a light Mexican-style lager. It’s almost like milk when it comes to spicy food. It doesn’t coat the tongue, but the spice in the hops cut through the spiciness in the chilies and peppers and allows the beer to shine through.
                            <br />
                            <br />
                            <b>Recommended:</b>Lighter lagers; Indian Pale Ales. Try Negro Modelo (Mexico), Corona (Mexico), Spaten-Fransikaner (Germany)
                        </p>

                    </div>
                </div>
                <div class="col-12 col-lg">
                    <div class="image-wrapper">
                        <img src="http://fridayweekly.com.np/uploads/post/71c8ad799194e0f95d3452ae27a5e711e0ebd6d8.jpg" alt="Spicy">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="features16 cid-sCPLpBPUXh" id="features17-s">
    <div class="container">
        <div class="content-wrapper">
            <div class="row align-items-center">
                <div class="col-12 col-lg">
                    <div class="image-wrapper">
                        <img src="http://fridayweekly.com.np/uploads/post/71c8ad799194e0f95d3452ae27a5e711e0ebd6d8.jpg" alt="Dessert">
                    </div>
                </div>
                <div class="col-12 col-lg">
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style display-5">
                            <strong>
                                Dessert
                            </strong>
                        </h6>
                        <p class="mbr-text mbr-fonts-style mb-4 display-4">
                            The Chocolate notes in stouts always pair well with brownies or any rich dessert. Lighter, fruit-based lagers or ales can also provide a nice balance or contrast. Think raspberries and chocolate. Beer and dessert is not the first choice for most, but a whole new world of flavors await you when you try fruitier beers with a wide variety of puddings, ice creams or sorbets.
                            <br />
                            <br />
                            <b>Recommended:</b> Light, fruitier dessert beers; stouts; Indian Pale Ales. Try Lindeman’s Framboise Raspberry Lambic Beer (Belgium), Brooklyn Chocolate Stout (US), Old Rasputin Russian Imperial Rasputin (US)
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="content6 cid-sAY59y18wh2" id="content6-o">

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-11">
                <hr class="line">
                <p class="mbr-text mbr-fonts-style my-4 display-4">When in doubt... Go regional.</p>
                <p class="mbr-text mbr-fonts-style my-4 display-4">If chicken chimichanga or fajitas are on the menu, then opt for a Mexican brew. Leave it to the country of origin when pairing if the options are too overwhelming. For example, German foods like pretzels, brats, knockwurst,  pair with German beer.</p>
                <p class="mbr-text mbr-fonts-style my-4 display-4">It’s all about trial and error and finding that unique combination of food and beer. The wine industry is years ahead with informing and educating the consumer, so brewers have to step it up a gear and provide some info on how their beers can work with food</p>
                <hr class="line">
            </div>
        </div>
    </div>
</section>