
@{
    ViewBag.Title = "Employment";
    Layout = "~/Views/Shared/_MyLayoutPage.cshtml";
}

<section class="form1 cid-sAY2yYIBwb mbr-fullscreen mbr-parallax-background" id="form1-l">

    <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(255, 255, 255);"></div>
    <div class="align-center container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-8 mx-auto mbr-form" data-form-type="formoid">
                <div class="dragArea row">
                    <div class="col-12">
                        <h1 class="mbr-section-title mb-4 display-2">
                            <strong>Employment Application!</strong>
                        </h1>
                    </div>
                    <div class="col-12">
                        <p class="mbr-text mbr-fonts-style mb-5 display-7">We are an equal opportunity employer. We do not discriminate on the basis of race. religion, national origin, gender, sexual orientation, age, disability, or any other status protected by law or regulation. It is our intention that all qualified applicants are given an equal opportunity and that selection decisions are based on job-related factors.<br><br>Please answer each question fully and accurately. Applications that are not fully completed will not be added to the hiring pool. In reading and answering the following questions, be aware that none of the questions are intended to imply illegal preferences or discrimination based upon non-job related information.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="content6 cid-sAY59y18wh" id="content6-o">

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-11">
                <hr class="line">
                <p class="mbr-text align-center mbr-fonts-style my-4 display-4"><em>We're hiring. Please fill out this form and we'll get back to you as soon as possible. Alternatively, you can print <b>THIS FORM</b> and bring it to us.</em></p>
                <hr class="line">
            </div>
        </div>
    </div>
</section>

<section class="form5 cid-sAY2wie5tp" id="form5-k">


    <div class="container-fluid">
        <div class="mbr-section-head">
            <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                <strong>Details</strong>
            </h3>

        </div>
        <div class="row justify-content-center mt-4">
            <div class="col-lg-10 mx-auto mbr-form" data-form-type="formoid">
                <form action="" method="POST" class="mbr-form form-with-styler" data-form-title="Form Name">
                    <input type="hidden" name="email" data-form-email="true" value="A+2j6MniHr8Jyi64QkwY13/XbqoBLAlJ20KmQf7FU+WAFjxDNU1aR+jho8YgJU8MC//IpwV3PSda0cn7rSNsVyR+8u0TMp2uyFlpzroS2/eD2CXvcza2tWRi3fEnjJYk">
                    <div class="row">
                        <div hidden="hidden" data-form-alert="" class="alert alert-success col-12">
                            Thanks for filling out
                            the form!
                        </div>
                        <div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12">
                            Oops...! some
                            problem!
                        </div>
                    </div>
                    <div class="dragArea row">
                        <div class="col-md col-sm-12 form-group" data-for="FirstName">
                            <input type="text" name="FirstName" placeholder="First Name" data-form-field="FirstName" class="form-control" value="" id="name-form5-k">
                        </div>
                        <div class="col-md col-sm-12 form-group" data-for="LastName">
                            <input type="text" name="LastName" placeholder="Last Name" data-form-field="LastName" class="form-control" value="" id="name-form5-k">
                        </div>

                        <div class="col-12 form-group" data-for="AddressLine1">
                            <input type="text" name="AddressLine1" placeholder="Address Line1" data-form-field="AddressLine1" class="form-control" value="" id="url-form5-k">
                        </div>
                        <div class="col-12 form-group" data-for="AddressLine2">
                            <input type="text" name="AddressLine2" placeholder="Address Line2" data-form-field="AddressLine2" class="form-control" value="" id="url-form5-k">
                        </div>

                        <div class="col-md col-sm-8 form-group" data-for="City">
                            <input type="text" name="City" placeholder="City" data-form-field="City" class="form-control" value="" id="name-form5-k">
                        </div>
                        <div class="col-md col-sm-8 form-group" data-for="State">
                            <input type="text" name="State" placeholder="State" data-form-field="State" class="form-control" value="" id="name-form5-k">
                        </div>
                        <div class="col-md col-sm-8 form-group" data-for="Zip">
                            <input type="text" name="Zip" placeholder="Zip" data-form-field="Zip" class="form-control" value="" id="name-form5-k">
                        </div>

                        <div class="col-12 form-group" data-for="PrimaryPhone">
                            <input type="tel" name="PrimaryPhone" placeholder="Primary Phone" data-form-field="PrimaryPhone" class="form-control" value="" id="email-form5-k">
                        </div>
                        <div class="col-12 form-group" data-for="SecondaryPhone">
                            <input type="tel" name="SecondaryPhone" placeholder="Secondary Phone" data-form-field="SecondaryPhone" class="form-control" value="" id="email-form5-k">
                        </div>

                        <div class="col-12 form-group" data-for="email">
                            <input type="email" name="email" placeholder="Email Address" data-form-field="email" class="form-control" value="" id="email-form5-k">
                        </div>

                        <div class="col-12 form-group" data-for="DesiredSalary">
                            <input type="number" name="DesiredSalary" placeholder="Desired Salary" data-form-field="DesiredSalary" class="form-control" value="" id="email-form5-k">
                        </div>

                        <div class="col-12 form-group" data-for="proofofcitizen">
                            <fieldset>
                                <legend>Proof of CitizenShip</legend>
                                <label for="proofofcitizen">If hired, can you furnish proof that you are eligible to work in the U.S.? </label>
                                <select id="proofofcitizen" class="form-control">
                                    <option>Yes</option>
                                    <option>No</option>
                                </select>
                            </fieldset>
                        </div>

                        <div class="col-md-6 form-group" data-for="driverslicense">
                            <fieldset>
                                <legend>Driver's License</legend>
                                <label for="driverslicense">Do you have a valid Driver's License?</label>
                                <select id="driverslicense" class="form-control">
                                    <option>Yes</option>
                                    <option>No</option>
                                </select>
                            </fieldset>
                        </div>

                        <div class="col-md-6 form-group" data-for="driverslicenseclass">
                            <fieldset>
                                <legend>Driver's License Class</legend>
                                <label for="driverslicenseclass">What class of Driver's License do you have?</label>
                                <input type="text" name="driverslicenseclass" data-form-field="driverslicenseclass" class="form-control" value="" id="driverslicenseclass">
                            </fieldset>
                        </div>

                        <div class="col-md-6 col-sm-12 form-group" data-for="DriverLicenseNumber">
                            <input type="text" name="DriverLicenseNumber" placeholder="Driver License Number" data-form-field="DriverLicenseNumber" class="form-control" value="" id="name-form5-k">
                        </div>
                        <div class="col-md col-sm-12 form-group" data-for="DriverLicenseNumberIssuanceState">
                            <input type="text" name="DriverLicenseNumberIssuanceState" placeholder="Driver License Number State of Issuance" data-form-field="DriverLicenseNumberIssuanceState" class="form-control" value="" id="name-form5-k">
                        </div>


                        <div class="col-12 form-group" data-for="driverslicenserevocation">
                            <fieldset>
                                <legend>Driver's License Revocation</legend>
                                <label for="driverslicenserevocation">Have you had your driver's license revoked or suspended in the last three years? If yes, please provide details.</label>
                                <textarea name="textarea" data-form-field="driverslicenserevocation" class="form-control" id="textarea-form5-k" rows="5"></textarea>
                            </fieldset>
                        </div>

                        <div class="col-12 form-group" data-for="reliabletoandfromwork">
                            <fieldset>
                                <label for="reliabletoandfromwork">Do you have reliable means to and from work?</label>
                                <select id="reliabletoandfromwork" class="form-control">
                                    <option>Yes</option>
                                    <option>No</option>
                                </select>
                            </fieldset>
                        </div>

                        <div class="col-12 form-group" data-for="highschoolorged">
                            <label for="highschoolorged">High School or GED</label>
                            <textarea name="textarea" data-form-field="highschoolorged" class="form-control" id="textarea-form5-k" rows="2"></textarea>
                        </div>
                        <div class="col-12 form-group" data-for="collegeoruniversity">
                            <label for="collegeoruniversity">College or University</label>
                            <textarea name="textarea" data-form-field="collegeoruniversity" class="form-control" id="textarea-form5-k" rows="2"></textarea>
                        </div>
                        <div class="col-12 form-group" data-for="vocationalortechnical">
                            <label for="vocationalortechnical">Vocational or Technical</label>
                            <textarea name="textarea" data-form-field="vocationalortechnical" class="form-control" id="textarea-form5-k" rows="2"></textarea>
                        </div>

                        <div class="col-12 form-group" data-for="driverslicenserevocation">
                            <fieldset>
                                <legend>Question 1 - Applied here?</legend>
                                <label for="driverslicenserevocation">Have you ever applied here before? If yes, when?</label>
                                <textarea name="textarea" data-form-field="driverslicenserevocation" class="form-control" id="textarea-form5-k" rows="5"></textarea>
                            </fieldset>
                        </div>
                        <div class="col-12 form-group" data-for="driverslicenserevocation">
                            <fieldset>
                                <legend>Question 2 - Worked here?</legend>
                                <label for="driverslicenserevocation">Have you ever worked here before? If yes, when?</label>
                                <textarea name="textarea" data-form-field="driverslicenserevocation" class="form-control" id="textarea-form5-k" rows="5"></textarea>
                            </fieldset>
                        </div>
                        <div class="col-12 form-group" data-for="driverslicenserevocation">
                            <fieldset>
                                <legend>Question 3 - Convictions?</legend>
                                <label for="driverslicenserevocation">Have you ever convicted of any law violation? Include any plea of "guilty" or "no contest." Exclude minor traffic violations. If yes, please provide details.</label>
                                <textarea name="textarea" data-form-field="driverslicenserevocation" class="form-control" id="textarea-form5-k" rows="5"></textarea>
                            </fieldset>
                        </div>
                        <div class="col-12 form-group" data-for="driverslicenserevocation">
                            <fieldset>
                                <legend>Question 4 - Additional Business?</legend>
                                <label for="driverslicenserevocation">If currently employed, do you expect to be engaged in any additional business or employment outside of our company?If yes, please provide details.</label>
                                <textarea name="textarea" data-form-field="driverslicenserevocation" class="form-control" id="textarea-form5-k" rows="5"></textarea>
                            </fieldset>
                        </div>
                        <div class="col-12 form-group" data-for="driverslicenserevocation">
                            <fieldset>
                                <legend>Question 5 - Skills related to position</legend>
                                <textarea name="textarea" data-form-field="driverslicenserevocation" class="form-control" id="textarea-form5-k" rows="5"></textarea>
                            </fieldset>
                        </div>
                        <div class="col-12 form-group" data-for="driverslicenserevocation">
                            <fieldset>
                                <legend>Question 6 - Machines and Equipment</legend>
                                <label for="driverslicenserevocation">What machines or equipment can you operate that relate to the position for which you are applying?</label>
                                <textarea name="textarea" data-form-field="driverslicenserevocation" class="form-control" id="textarea-form5-k" rows="5"></textarea>
                            </fieldset>
                        </div>
                        <div class="col-12 form-group" data-for="driverslicenserevocation">
                            <fieldset>
                                <legend>Question 7 - About you</legend>
                                <label for="driverslicenserevocation">What maked you invaluable asset to our company?</label>
                                <textarea name="textarea" data-form-field="driverslicenserevocation" class="form-control" id="textarea-form5-k" rows="5"></textarea>
                            </fieldset>
                        </div>

                        <div class="col-12 form-group" data-for="driverslicenserevocation">
                            <fieldset>
                                <legend>Other Names</legend>
                                <label for="driverslicenserevocation">Have you ever worked or attended school under any other names? If yes, please provide names.</label>
                                <textarea name="textarea" data-form-field="driverslicenserevocation" class="form-control" id="textarea-form5-k" rows="5"></textarea>
                            </fieldset>
                        </div>

                        <div class="col-12 form-group" data-for="driverslicenserevocation">
                            <fieldset>
                                <legend>Alternate Employment Contact</legend>
                                <label for="driverslicenserevocation">Are you currently employed? If yes, please supply a work contact and phone number.</label>
                                <textarea name="textarea" data-form-field="driverslicenserevocation" class="form-control" id="textarea-form5-k" rows="1"></textarea>
                            </fieldset>
                        </div>
                        <div class="col-12 form-group" data-for="driverslicenserevocation">
                            <fieldset>
                                <label for="driverslicenserevocation">Alternate Employement Phone Number</label>
                                <textarea name="textarea" data-form-field="driverslicenserevocation" class="form-control" id="textarea-form5-k" rows="1"></textarea>
                            </fieldset>
                        </div>

                        <div class="col-12 form-group" data-for="DriverLicenseNumber">
                            <fieldset>
                                <legend>PLEASE READ EACH STATEMENT CAREFULLY BEFORE SIGNING</legend>
                                <label>
                                    I certify that all information provided in this employment application is true and complete. I understand that any false information or omission may disqualify me from further
                                    consideration for employment and may result in my dismissal if discovered at a later date.
                                    <br /><br />
                                    I authorize the investigation of any and all statements contained in this application. I also authorize that, whether listed or not, any person, school, current employer, past
                                    employers, and organizations may provide relevant information and opinions that may be useful in making a hiring decision. I release such persons and organizations from any
                                    legal liability in making such statements.
                                    <br /><br />
                                    I understand I may be required to successfully pass a drug screening examination. I hereby consent to a pre- and/or post-employment drug screen as a condition of my
                                    employment, if required.
                                    <br /><br />
                                    I understand that if I am extended an offer of employment, it may be conditioned in my successfully completing a pre-employment physical examination. I consent to the release
                                    of any or all medical information as deemed necessary to judge my capability of performing the tasks applicable to the position for which I am applying.
                                    <br /><br />
                                    I UNDERSTAND THAT THIS APPLICATION, VERBAL STATEMENTS BY MANAGEMENT, OR SUBSEQUENT EMPLOYMENT DOES NOT CREATE AN EXPRESSED OR IMPLIED
                                    CONTRACT OF MY EMPLOYMENT, NOR DOES IT GUARANTEE EMPLOYMENT FOR ANY DEFINITE PERIOD OF TIME. ONLY THE PRESIDENT OF THE ORGANIZATION HAS THE
                                    AUTHORITY TO ENTER INTO AN AGREEMENT OF EMPLOYMENT FOR ANY SPECIFIED PERIOD AND SUCH AGGREMENT MUST BE IN WRITING, SIGNED BY THE PRESIDENT
                                    AND THE EMPLOYEE. I UNDERSTAND THAT I HAVE BEEN HIRED AT THE WILL OF THE EMPLOYER AND MY EMPLOYMENT MAY BE TERMINATED AT ANY TIME, WITH OR
                                    WITHOUT REASON, AND WITH OR WITHOUT NOTICE.
                                    <br /><br />
                                    I have read, understand, and by my electronic signature consent to and agree with these statements.

                                </label>
                            </fieldset>
                        </div>

                        <div class="col-12 form-group" data-for="DriverLicenseNumber">
                            <fieldset>
                                <legend>Your Signature</legend>
                                <input type="text" name="DriverLicenseNumber" placeholder="" data-form-field="DriverLicenseNumber" class="form-control" value="" id="name-form5-k">
                            </fieldset>
                        </div>


                        <div class="col-lg-12 col-md-12 col-sm-12 align-center mbr-section-btn">
                            <button type="submit" class="btn btn-primary display-4">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
