
@{
    ViewBag.Title = "Requests";
}

@*<section style="padding-top:10rem;min-height:550px;text-align:center">
        <h1>Page Under Construction</h1>

    </section>*@


<section class="image3 cid-sAQi4fbwot mbr-fullscreen mbr-parallax-background" id="image3-d">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-12">
                <div class="image-wrapper">
                    <img src="~/Content/assets/images/6.jpg" alt="Mobirise">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="form3 cid-sAQp50LkuP" id="form3-h">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7 col-12">
                <div class="card-wrapper">
                    <div class="card-box align-left">
                        <h4 class="card-title mbr-fonts-style mb-4 display-2">
                            <strong>Your Request</strong>
                        </h4>
                        <p class="mbr-text mbr-fonts-style mb-4 display-7">
                            At Rainbow Package Storage we know how important is to have the right ingredients, the right beverages and right atmosphere to set the mood.We'd love to help you fine that special wine, cigar, beer, liquor or tobacco that you can't find anywhere else. Select the type of item you are looking for and fill out the form to allow us to serve you better.
                            <br />
                            The following fields must be filled out to proceed your request: name, email, phone number and product type. If you do not know the classification of product you are looking for please select the "other". Most significantly, this form is only used to assist you in searching for this product and is only a request form, not a guarantee that we can get your product. You must come into the store to complete any request, if you wish to sign up to your email list, you may do so from our contact page or from the bottom of any page in the website.
                            <br />
                            Cheers!
                        </p>
                        <div class="mbr-section-btn" style="display:contents">
                            <a class="btn btn-black display-4" href="../Home/Contact">Go to Contact Page</a>
                        </div>
                    </div>
                </div>
                <!--<div class="image-wrapper">
                    <img class="w-100" src="assets/images/features6.jpg" alt="Mobirise">
                </div>-->

            </div>
            <div class="col-lg-5 mbr-form" data-form-type="formoid">
                <form action="https://mobirise.eu/" method="POST" class="mbr-form form-with-styler" data-form-title="Form Name">
                    <input type="hidden" name="email" data-form-email="true" value="5cLvy/nciORFSe9vojDGZb1jMkdw7YcT2zUmI1KEwujXr34V3kcKkrnfaHbWp5UyJ5QpSDn2m4pp56hzF0J/7Yl/3UptMVF1u78Q2mYJdeb+IyL362LwGl+a5mgDhFEZ">
                    <div class="row">
                        <div hidden="hidden" data-form-alert="" class="alert alert-success col-12">
                            Thanks for filling out
                            the form!
                        </div>
                        <div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12">
                            Oops...! some
                            problem!
                        </div>
                    </div>
                    <div class="dragArea row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <h1 class="mbr-section-title display-5">
                                <strong>Product Request Form</strong>
                            </h1>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <p class="mbr-text mbr-fonts-style mb-4 display-7">
                                Please fill this form out with the request that you have for us and we'll get back to you
                                soon.
                            </p>
                        </div>
                        <div data-for="product" class="col-lg-12 col-md col-sm-12 form-group">
                            <label for="product">What kind of product are you looking for?</label>
                            <select class="form-control" name="product" id="product">
                                <option value="0">Select One</option>
                                <option value="volvo">Beer</option>
                                <option value="saab">Vodka</option>
                                <option value="opel">Opel</option>
                                <option value="audi">Audi</option>
                            </select>
                        </div>

                        <div class="col-lg-6 col-md col-sm-6 form-group" data-for="FirstName">
                            <label for="FirstName">First Name</label>
                            <input type="text" name="FirstName" placeholder="First Name" data-form-field="FirstName" class="form-control" value="" id="first-name" required>
                        </div>
                        <div class="col-lg-6 col-md col-sm-6 form-group" data-for="LastName">
                            <label for="LastName">Last Name</label>
                            <input type="text" name="LastName" placeholder="Last Name" data-form-field="lastname" class="form-control" value="" id="last-name">
                        </div>

                        <div class="col-lg-6 col-md col-sm-6 form-group" data-for="email">
                            <label for="email">Email</label>
                            <input type="email" name="email" placeholder="Email" data-form-field="email" class="form-control" value="" id="email" required>
                        </div>
                        <div class="col-lg-6 col-md col-sm-6 form-group" data-for="phonenumber">
                            <label for="phonenumber">PhoneNumber</label>
                            <input type="text" name="phonenumber" placeholder="Phone Number" data-form-field="phonenumber" class="form-control" value="" id="phone-number" required>
                        </div>

                        <div class="col-lg-12 col-md col-sm-12 form-group" data-for="productname">
                            <label for="productname">Name of Product</label>
                            <input type="text" name="productname" placeholder="Please enter the name of the product or item" data-form-field="productname" class="form-control" value="" id="product-name">
                        </div>

                        <div class="col-lg-12 col-md col-sm-12 form-group" data-for="productorigin">
                            <label for="productorigin">Product Origin</label>
                            <input type="text" name="productorigin" placeholder="Please enter the product place of origin, if known." data-form-field="productorigin" class="form-control" value="" id="product-origin">
                        </div>

                        <div class="col-lg-12 col-md col-sm-12 form-group" data-for="quantityrequested">
                            <label for="quantityrequested">Quantity Requested</label>
                            <input type="number" name="quantityrequested" placeholder="Please enter amount needed." data-form-field="quantityrequested" class="form-control" value="" id="quantity-requested">
                        </div>

                        <div class="col-lg-12 col-md col-sm-12 form-group" data-for="daterequested">
                            <label for="daterequested">Date Requested</label>
                            <input type="date" name="daterequested" data-form-field="daterequested" class="form-control" id="daterequested">
                        </div>

                        <div class="col-lg-12 col-md col-sm-12 form-group" data-for="message">
                            <label for="message">Message</label>
                            <textarea id="message" name="message" rows="4" cols="50" class="form-control" placeholder="Please enter any additional details about this product that my be helpful to us.">
                                
                            </textarea>
                        </div>

                        <div class="col-md-auto col-12 mbr-section-btn">
                            <button type="submit" class="btn btn-black display-4">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="offset-lg-1"></div>
        </div>
    </div>
</section>




<script>

    $(document).ready(function () {

        var delta = new Date();
        console.log(delta);
        $('#daterequested').val(delta);
    });

</script>